version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /auth-layer-proxy
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /subgraphs/saucerswap/v2
    schedule:
      interval: daily