version: '3'

services:
  envoy:
    image: envoy-auth-proxy:latest
    command: ["/etc/envoy/start-envoy.sh"]
    env_file:
      - .env
    volumes:
      - ./configs/:/etc/envoy/configs/
      - ./filters/:/etc/envoy/filters/
      - ./scripts/start-envoy.sh:/start-envoy.sh
    ports:      
      - "10000:10000"
      - "15000:15000"
    stdin_open: true
    tty: true
