apiVersion: v2
name: hedera-the-graph
description: Umbrella Helm chart deployment of the hedera-the-graph auth layer, includes auth-layer-server and auth-layer-proxy
home: https://github.com/hashgraph/hedera-the-graph
icon: https://camo.githubusercontent.com/cca6b767847bb8ca5c7059481ba13a5fc81c5938/68747470733a2f2f7777772e6865646572612e636f6d2f6c6f676f2d6361706974616c2d686261722d776f72646d61726b2e6a7067
keywords:
  - blockchain
  - dlt
  - hedera
  - hashgraph
  - smart
  - contracts
  - evm
  - relay
  - subgraph
  - graphql
  - thegraph
  - graph-node
maintainers:
  - name: Hedera Smart Contracts Team
    email: engsmartcontracts@hedera.com
sources:
  - https://github.com/hashgraph/hedera-the-graph
type: application
version: 0.1.0
dependencies:
  - alias: auth-server
    name: auth-layer-server
    condition: auth-server.enabled
    repository: file://../auth-layer-server
    version: 0.1.0

  - alias: auth-proxy
    name: auth-layer-proxy
    condition: auth-proxy.enabled
    repository: file://../auth-layer-proxy
    version: 0.1.0
