name: Auth Layer Proxy Tests

on:
    pull_request:
      branches: [ main, release/**]
    push:
      branches: [ main, release/*]
      tags: [ v*, v*.*.* ]

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
    proxy-tests:
        name: Proxy Tests
        runs-on: smart-contracts-linux-medium
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
              with:
                egress-policy: audit

            - name: Checkout repository
              uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

            - name: Lua Install
              run: |
                sudo apt-get update
                sudo apt-get install build-essential libreadline-dev lua5.3 liblua5.3-dev -y

            - name: Luarocks Install
              run: |
                sudo apt-get update && sudo apt-get install wget -y
                wget https://luarocks.org/releases/luarocks-3.8.0.tar.gz
                tar xzfp luarocks-3.8.0.tar.gz; cd luarocks-3.8.0
                ./configure && make && sudo make install

            - name: Install lunatest
              run: sudo luarocks install lunatest
        
            - name: Install luacov
              run: sudo luarocks install luacov

            - name: Install luacov-console
              run: sudo luarocks install luacov-console
        
            - name: Install cjson
              run: sudo luarocks install lua-cjson
        
            - name: Install luasocket
              run: sudo luarocks install luasocket
            
            - name: Run tests
              run: lua test.lua              
              working-directory: auth-layer-proxy/tests
            
            - name: Generate coverage report
              run: luacov
              working-directory: auth-layer-proxy/tests

            - name: Generate Console Report
              run: luacov-console ../filters/ && luacov-console ../filters/ -s  && luacov-console ../filters/ -s > coverage.txt
              working-directory: auth-layer-proxy/tests
