name: SaucerSwap V2 Subgraph

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    name: build-and-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2

      - name: Setup Node
        uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 # v2
        with:
          node-version: '18.x'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ hashFiles('**/subgraphs/saucerswap/v2/yarn.lock') }}
          restore-keys: |
            yarn-

      - name: Install dependencies
        working-directory: subgraphs/saucerswap/v2
        run: yarn install

      - name: Build project
        working-directory: subgraphs/saucerswap/v2
        run: yarn build

      - name: Build Docker
        working-directory: subgraphs/saucerswap/v2
        run: yarn build:docker

      - name: Test
        working-directory: subgraphs/saucerswap/v2
        run: yarn test:no-tty
